<div class="container mt-4">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/transfericon-black.png"), alt: "community", size: "45x45") %> Training Community</h3>
  <br>
  <p>We are developing and connecting our community spaces, events, and programs 
  to foster knowledge transfer and networking amongst experts at SciLifeLab.</p>
</div>


<div class="container">
<div class="row">
<div class="col-md-8">
  <div class="col-md-12 mb-2">
    <div class="support-box text-left d-flex flex-column p-3">
    <div class="row">
    <div class="col-md-2">
      <%= image_tag(asset_path("scilifelab/fika-snap.png"), alt: 'TH fika', width: '80px') %>
    </div>
    <div class="col-md-10">
      <h5 style="color:black;">
      <b>SciLifeLab Training Hub Drop-in Fika</b>
      <br>
      <ul>
        <li> Join us <%= link_to "Thursday afternoons at 3pm", "https://www.scilifelab.se/organizer/training-hub/", target: "_blank", rel: "noopener noreferrer" %> for discussions on training and learning </li>
        <li> Watch presentations from <%= link_to "previous Fika discussions on YouTube", "https://www.youtube.com/watch?v=4oquXWFSYSE&list=PL1nnHOyxN_WeCYjyo0Fkc11mTumm72Ozo", target: "_blank", rel: "noopener noreferrer" %>! </li>
      </ul>
      </h5>
    </div>
    </div>
    </div>

  <div class="support-box text-left d-flex flex-column p-3">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag(asset_path("scilifelab/ELIXIRcommunities.png"), alt: 'guide', size: '80x100') %>
    </div>
    <div class="col-md-10">
    <h5 style="color:black;">
      <b>External Focus Groups and Communities</b>
      <br>
      <ul>
        <li>
          <%= link_to "Join focus groups", "https://elixir-europe.org/what-we-offer/work-together", target: "_blank", rel: "noopener noreferrer" %>
          on 
          <%= link_to "Learning Paths", "https://elixir-europe.org/focus-groups/learning-paths", target: "_blank", rel: "noopener noreferrer" %>
          or
          <%= link_to "FAIR Training", "https://elixir-europe.org/focus-groups/fair-training", target: "_blank", rel: "noopener noreferrer" %>
          to take part in building European training through ELIXIR
        </li>
        <li>
          Join the
          <%= link_to "Life Science Trainers Slack", "https://lifescitraining.slack.com/join/shared_invite/enQtNDc2NDk2NzMyNjkyLTA0Zjk5YzAwN2RlMTQyODg3NWJhMzhlY2NkY2I3MzBkZDhlOTY4OTIxYWFjNjQ2MjQ1N2VhYTFhYmU1ZDJiOTc#/shared-invite/email", target: "_blank", rel: "noopener noreferrer" %>
          for an international community of short-format trainers
        </li>
      </ul>
      </h5>
    </div>
    </div>
    </div>
    </div>

<div class="row text-center">
<br>
<p>For more updates, subscribe to the 
<%= link_to "Training Hub Newsletter", "https://forms.gle/d3mHw2TGaQLFxS7c7", target: "_blank", rel: "noopener noreferrer" %>
!</p>
</div>
</div>

<div class="col-md-4">
<%= image_tag(asset_path("scilifelab/OL-catteaching.jpg"), alt: 'organizational learning', width: '350px') %>
</div>
</div>
</div>










